body {
    background: rgb(139, 157, 255);
}
h1 {
    color: #8b9dff ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    background-color: lightyellow;
}
tr {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    color:lightyellow;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    color:lightyellow;
}
